# Networking
HTTP_PORT=9650
P2P_PORT=9651


# AvalancheGo basics
AVALANCHEGO_NETWORK_ID=fuji
AVALANCHEGO_HTTP_ALLOWED_HOSTS=localhost,127.0.0.1
AVALANCHEGO_PUBLIC_IP_RESOLUTION_SERVICE=opendns
AVALANCHEGO_TRACK_SUBNETS=


# Modes
ARCHIVE_NODE=false
STATE_SYNC_ENABLED=false
PARTIAL_SYNC_PRIMARY_NETWORK=true


# Data directory (host path)
DATA_DIR=./data


# Container user (fallbacks to 1000:1000 if unset)
CURRENT_UID=
CURRENT_GID=
